

.xiopop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 11;
	display: none;
	overflow: auto;
	text-align: center;
	font: 14px sans-serif;
}


.xiopop_box {
	display: none;
	position: relative;
	background-color: white;
	padding: 20px;
	margin: 20px;
	max-width: 800px;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.xiopop_box.visible {
	display: inline-block;
}

.xiopop_title {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 0.5em;
	font-weight: bold;
}

.xiopop_close {
	position: absolute;
	top: -15px;
	right: -15px;
	padding: 4px 10px 6px;
	border-radius: 50%;
	background-color: #ccc;
	border: 4px solid #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	font: bold 15px sans-serif;
	color: white;
	cursor: pointer;
}
.xiopop_close:hover {
	background-color: #aaa;
}

.xiopop .hidden {
	display: none;
}


.xiopop_fog {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
	-webkit-transition: opacity 0.2s linear;
	opacity: 0;
	background-color: black;
}
.xiopop_fog.visible {
	display: block;
}
.xiopop_fog.dimmed {
	opacity: 0.6;
}


/*** BUTTONS ***/
.xiopop_button_set button {
	padding: 6px 15px;
	margin-left: 0.5em;
	background-color: #ddd;
	border-radius: 0.5em;
	border: 0;
	cursor: pointer;
}
.xiopop_button_set button:hover {
	background-color: #aaa;
}


/*** TEXT INPUTS ***/
.xiopop textarea,
.xiopop input[type="text"],
.xiopop input[type="search"] {
	background-color: #eed;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3) inset;
	padding: 0.6em;
    border: 0;
	outline: 0;
}
.xiopop input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*** SELECTABLE LIST ***/
.xiopop_selectableList {
	padding: 0;
	margin: 1em 0 0 0;
}
.xiopop_selectableList li {
    list-style-type: none;
    text-align: left;
    padding: 0.3em 0.5em;
    background-color: #eee;
    margin-bottom: 2px;
	cursor: pointer;
}
.xiopop_selectableList li.selected {
	background-color: #ccc;
}




/*** ALERT ***/
.xiopop_alert .xiopop_button_set {
	text-align: center;
}


/*** CONFIRM ***/
.xiopop_confirm .xiopop_button_set {
	text-align: right;
}


/*** PROMPT ***/
.xiopop_prompt .xiopop_button_set {
	text-align: right;
}
.xiopop_prompt input {
	width: 100%;
	margin: 0.5em 0 1em 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*** HTML ***/
.xiopop_html {
	text-align: left;
}


/*** SELECT ***/
.xiopop_select input {
    margin: 0;
}



#xiopop_prompt_label {
	display: block;
}

body.xiopop_open {
	overflow: hidden;
}

body.xiopop_open .xiopop {
	display: block;
}